{% extends "layouts/base_app.html" %}

{% block title %}Global Leaderboard{% endblock %}


{% block header %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Global Leaderboard</h1>
      <p class="govuk-body gchqnet-homepage__intro-text">
        Welcome to GCHQ.NET: Great Camp Hexpansion Quest, a distributed interactive game for EMF 2024.
      </p>
      <p class="govuk-body gchqnet-homepage__intro-text">
        Find out <a href="{% url 'content:play' %}">how to play</a>
        and <a href="{% url 'content:platforms' %}">how to access your scores, hints and leaderboards.</a>
      </p>
      {% include "components/quest/leaderboard-search.html" %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "components/quest/homepage-aside.html" %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "components/quest/leaderboard-table.html" with players=page_obj %}
  {% if page_obj %}
    {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" %}
  {% elif search_query %}
    <p class="govuk-body">There are no results. Perhaps check that you spelled your search correctly?</p>
  {% else %}
    <p class="govuk-body">There aren't any players yet - you'll need to wait until badges are released!</p>
  {% endif %}
{% endblock %}
