{% extends "layouts/base_app.html" %}

{% block title %}Great Camp Hexpansion Quest{% endblock %}

{% block action_buttons %}
  <a class="govuk-button gchqnet-page-header-actions__action" data-module="govuk-button" href="{% url 'quest:my_finds_map' %}">
    View Map
  </a>
{% endblock %}

{% block content %}
  <h2 class="govuk-heading-l">Global Leaderboard</h2>
  {% include "components/quest/leaderboard-search.html" %}

  {% include "components/quest/leaderboard-table.html" with players=page_obj %}
  {% if page_obj %}
    {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" %}
  {% else %}
    <p class="govuk-body">There are no results. Perhaps check that you spelled your search correctly?</p>
  {% endif %}
{% endblock %}