{% extends "layouts/base.html" %}

{% block body %}
  <!-- {-- % include "components/govuk/cookie_banner.html" % --} -->
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
  {% include "components/govuk/header.html" %}
  <div class="govuk-width-container">
    {% include "components/govuk/phase-banner.html" %}
    {% block breadcrumbs %}
      {% include "components/govuk/breadcrumbs.html" %}
    {% endblock %}
    <main class="govuk-main-wrapper govuk-main-class" id="main-content">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Our badge companion app is ready, but the Badge App Store is still working on some fixes<br/>
            You will need our companion app and v1.3.0 of the badge firmware.
          </p>
        </div>
      </div>
      {% block header %}
        <div class="gchqnet-page-header-actions">
          <div class="gchqnet-page-header-actions__title">
            <h1 class="govuk-heading-xl">{% block title %}{% endblock %}</h1>
          </div>
          <div class="gchqnet-page-header-actions__actions">
            {% block action_buttons %}{% endblock %}
          </div>
        </div>
      {% endblock %}
      {% include "components/messages.html" %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include "components/govuk/footer.html" %}
{% endblock %}