{% extends "layouts/base.html" %}

{% block body %}
  <!-- {-- % include "components/govuk/cookie_banner.html" % --} -->
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
  {% include "components/govuk/header.html" %}
  <div class="govuk-width-container">
    {% include "components/govuk/phase-banner.html" %}
    {% block breadcrumbs %}
      {% include "components/govuk/breadcrumbs.html" %}
    {% endblock %}
    <main class="govuk-main-wrapper govuk-main-class" id="main-content">
      {% block header %}
        <div class="gchqnet-page-header-actions">
          <div class="gchqnet-page-header-actions__title">
            <h1 class="govuk-heading-xl">{% block title %}{% endblock %}</h1>
          </div>
          <div class="gchqnet-page-header-actions__actions">
            {% block action_buttons %}{% endblock %}
          </div>
        </div>
      {% endblock %}
      {% include "components/messages.html" %}
      {% include "components/govuk/notification-banner.html" with title="Urgent" heading="A hexpansion has gone missing. If you see someone with a detached one or any others missing, call 4247 immediately." %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include "components/govuk/footer.html" %}
{% endblock %}
