{% extends "layouts/base_app.html" %}
{% load static %}

{% block title %}How to Play{% endblock %}

{% block content %}
  <p class="govuk-body">The Great Camp Hexpansion Quest (GCHQ.NET) is a distributed interactive game for attendees of <a href="https://emfcamp.org">Electromagnetic Field 2024</a>.</p>
  <p class="govuk-body">We've hidden nearly 100 hexpansions around site, waiting to be connected to your badge. When you connect a hexpansion to your badge you collect points for that location.</p>
  <p class="govuk-body">From points you get a position on our leaderboard - now you can play against everyone else at EMF! If you want to <strike>compete</strike> play along with your friends, you can set up a private leaderboard for yourselves.</p>
  <p class="govuk-body">TODO ACHIEVEMENTS</p>
  <p class="govuk-body">TODO PHOTOS</p>

{% endblock %}
