{% extends "layouts/base_app.html" %}

{% block title %}Basic Achievements{% endblock %}

{% block action_buttons %}
    <div class="govuk-button-group gchqnet-page-header-actions__action">
        <a class="govuk-button" data-module="govuk-button" href="{% url 'achievements:basic_achievements_create' %}">
            New Basic Achievement
        </a>
    </div>
{% endblock %}

{% block content %}
    <p class="govuk-body">Apparently you can achieve these things..</p>
    {% include "components/achievements/achievement-search.html" %}
    {% include "components/achievements/basic-achievements-table.html" with achievements=page_obj %}
    {% if page_obj %}
        {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" %}
    {% else %}
        <p class="govuk-body">There are no achievements. Run the migrations pls.</p>
    {% endif %}
{% endblock %}
