{% for badge in badges %}
  <h3 class="govuk-heading-m">{{ badge.mac_address }}</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        MAC Address
      </dt>
      <dd class="govuk-summary-list__value">
        {{ badge.mac_address }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Type
      </dt>
      <dd class="govuk-summary-list__value">
        {{ badge.model_name }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        {% if badge.is_enabled %}
          {% include "components/govuk/tag.html" with content="Active" colour="green" %}
        {% else %}
          {% include "components/govuk/tag.html" with content="Inactive" colour="grey" %}
        {% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        First connected at
      </dt>
      <dd class="govuk-summary-list__value">
        {{ badge.created_at }}
      </dd>
    </div>
  </dl>
{% endfor %}