{% extends "layouts/base_app.html" %}

{% block title %}Bad Request{% endblock %}

{% block content %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        Error 400: Bad Request
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
          <pre>
  Script started on Wed Sep 25 22:49:24 199
  mint.ukc.ac.uk% javac Starving_Philosophers.java
  mint.ukc.ac.uk% java College
  (843688193132) Chef  : starting ...
  (843688193158) Chef  : cooking ...
  (843688193173) Phil 0: starting ...
  (843688193182) Phil 0: gotta eat ...
  (843688193192) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688193207) Phil 1: starting ...
  (843688193218) Phil 2: starting ...
  (843688193230) Phil 3: starting ...
  (843688193241) Phil 4: starting ...
  (843688195157) Chef  : 4 chickens, ready-to-go ...
  (843688195167) Chef  : ouch ... make room ... this dish is very hot ...
  (843688196177) Phil 1: gotta eat ...
  (843688196217) Phil 2: gotta eat ...
  (843688196225) Phil 3: gotta eat ...
  (843688196232) Phil 4: gotta eat ...
  (843688198197) Chef  : more chickens ... 4 now available ... NOTIFYING ...
  (843688198209) Phil 1: those chickens look good ... one please ...
  (843688198216) Chef  : cooking ...
  (843688198224) Phil 2: those chickens look good ... one please ...
  (843688198248) Phil 1: mmm ... that's good ...
  (843688198249) Phil 2: mmm ... that's good ...
  (843688198238) Phil 3: those chickens look good ... one please ...
  (843688198291) Phil 4: those chickens look good ... one please ...
  (843688198304) Phil 3: mmm ... that's good ...
  (843688198305) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688198305) Phil 4: mmm ... that's good ...
  (843688200247) Chef  : 4 chickens, ready-to-go ...
  (843688200255) Chef  : ouch ... make room ... this dish is very hot ...
  (843688201277) Phil 1: gotta eat ...
  (843688201284) Phil 2: gotta eat ...
  (843688201377) Phil 4: gotta eat ...
  (843688201385) Phil 3: gotta eat ...
  (843688203257) Chef  : more chickens ... 4 now available ... NOTIFYING ...
  (843688203267) Phil 1: those chickens look good ... one please ...
  (843688203279) Chef  : cooking ...
  (843688203280) Phil 2: those chickens look good ... one please ...
  (843688203280) Phil 1: mmm ... that's good ...
  (843688203370) Phil 4: those chickens look good ... one please ...
  (843688203370) Phil 2: mmm ... that's good ...
  (843688203460) Phil 3: those chickens look good ... one please ...
  (843688203461) Phil 4: mmm ... that's good ...
  (843688203549) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688203550) Phil 3: mmm ... that's good ...
  (843688205387) Chef  : 4 chickens, ready-to-go ...
  (843688205395) Chef  : ouch ... make room ... this dish is very hot ...
  (843688206427) Phil 1: gotta eat ...
  (843688206527) Phil 2: gotta eat ...
  (843688206617) Phil 3: gotta eat ...
  (843688206624) Phil 4: gotta eat ...
  (843688208417) Chef  : more chickens ... 4 now available ... NOTIFYING ...
  (843688208427) Phil 1: those chickens look good ... one please ...
  (843688208438) Chef  : cooking ...
  (843688208439) Phil 2: those chickens look good ... one please ...
  (843688208440) Phil 1: mmm ... that's good ...
  (843688208530) Phil 3: those chickens look good ... one please ...
  (843688208531) Phil 2: mmm ... that's good ...
  (843688208619) Phil 4: those chickens look good ... one please ...
  (843688208620) Phil 3: mmm ... that's good ...
  (843688208708) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688208709) Phil 4: mmm ... that's good ...
  (843688210557) Chef  : 4 chickens, ready-to-go ...
  (843688210565) Chef  : ouch ... make room ... this dish is very hot ...
  (843688211567) Phil 1: gotta eat ...
  (843688211667) Phil 2: gotta eat ...
  (843688211767) Phil 4: gotta eat ...
  (843688211774) Phil 3: gotta eat ...
  (843688213577) Chef  : more chickens ... 4 now available ... NOTIFYING ...
  (843688213587) Phil 1: those chickens look good ... one please ...
  (843688213598) Chef  : cooking ...
  (843688213599) Phil 2: those chickens look good ... one please ...
  (843688213600) Phil 1: mmm ... that's good ...
  (843688213690) Phil 4: those chickens look good ... one please ...
  (843688213691) Phil 2: mmm ... that's good ...
  (843688213779) Phil 3: those chickens look good ... one please ...
  (843688213780) Phil 4: mmm ... that's good ...
  (843688213867) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688213868) Phil 3: mmm ... that's good ...
  (843688215717) Chef  : 4 chickens, ready-to-go ...
  (843688215725) Chef  : ouch ... make room ... this dish is very hot ...
  (843688216787) Phil 1: gotta eat ...
  (843688216817) Phil 2: gotta eat ...
  (843688216917) Phil 3: gotta eat ...
  (843688216924) Phil 4: gotta eat ...
  (843688218737) Chef  : more chickens ... 4 now available ... NOTIFYING ...
  (843688218747) Phil 1: those chickens look good ... one please ...
  (843688218761) Phil 1: mmm ... that's good ...
  (843688218761) Phil 2: those chickens look good ... one please ...
  (843688218760) Chef  : cooking ...
  (843688218834) Phil 2: mmm ... that's good ...
  (843688218833) Phil 3: those chickens look good ... one please ...
  (843688218918) Phil 4: those chickens look good ... one please ...
  (843688218932) Phil 3: mmm ... that's good ...
  (843688218933) Phil 0: wot, no chickens?  I'll WAIT ...
  (843688218933) Phil 4: mmm ... that's good ...
  ^Cmint.ukc.ac.uk% ^D
  script done on Wed Sep 25 22:50:23 199
          </pre>
          </li>
          <li>Please eat sixteen bananas to continue.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
