{% extends "layouts/base_app.html" %}
{% load static %}

{% block title %}Map{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'map/map.css' %}">
    <script src="{% static 'map/map.js' %}" style="max-width: 300px;"></script>
    <noscript>You need Javascript enabled to view this map.</noscript>

    {% if request.user.is_authenticated %}
        <p class="govuk-body">
            You can view hexpansions that you have found on the map below.
        </p>
    {% elif GAME_MODE == "post" %}
        <p class="govuk-body">
            This map shows all hexpansions that were hidden. Find out which ones you found by <a href="{% url 'accounts:login' %}">logging in</a>.
        </p>
    {% else %}
        <p class="govuk-body">
            Find out which hexpansions you have already found by <a href="{% url 'accounts:login' %}">logging in</a>.
        </p>
    {% endif %}

    <div id="map" data-urlhash style="min-height: 800px;"></div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'map/map.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'map/map.js' %}">
{% endblock %}