{% extends "layouts/base_app.html" %}
{% load location_tags %}

{% block title %}My Finds{% endblock %}

{% block action_buttons %}
  <a class="govuk-button gchqnet-page-header-actions__action" data-module="govuk-button" href="{% url 'quest:my_finds_map' %}">
    View Map
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-checkboxes gchqnet-finds-table__checkbox" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="hidemissing" name="hidemissing" type="checkbox">
      <label class="govuk-label govuk-checkboxes__label" for="hidemissing">
        Hide Missing
      </label>
    </div>
  </div>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      My Finds
    </h2>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Difficulty</th>
          <th scope="col" class="govuk-table__header">Hints / Found At</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for location, capture in finds.items %}
          {% if capture %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ location.display_name }}</th>
              <td class="govuk-colour__red govuk-table__cell">{{ location.difficulty|difficulty_label }}</td>
              <td class="govuk-table__cell">{{ capture.raw_capture_event.created_at }}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>
          {% else %}
            <tr class="govuk-table__row gchqnet-finds-table__row--missing">
              <th scope="row" class="govuk-table__header">???</th>
              <td class="govuk-table__cell">{{ location.difficulty|difficulty_label }}</td>
              <td class="govuk-table__cell">{{ location.hint }}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>
          {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    document.querySelector("#hidemissing").addEventListener("change", function() {
      var missing = document.querySelectorAll(".gchqnet-finds-table__row--missing");
      var state = this.checked ? "none" : "";
      missing.forEach(function(element) {
        element.style.display = state;
      });
    });
  </script>
{% endblock %}
