{% extends "pages/quest/player_detail_base.html" %}

{% load location_tags %}
{% load humanize %}

{% block panel_content %}
  <h2 class="govuk-heading-l">{% if current_user %}My {% endif %}Achievements</h2>
  {% if achievement_events %}
    {% include "components/achievements/achievement-event-table.html" %}
    {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" page_obj=achievement_events %}
  {% else %}
    {% if current_user %}
      <p class="govuk-body">You have not yet been awarded any achievements.</p>
    {% else %}
      <p class="govuk-body">This player has not yet been awarded any achievements.</p>
    {% endif %}
  {% endif %}
{% endblock %}
