{% extends "layouts/base_app.html" %}

{% load scores notifications_tags %}

{% block action_buttons %}
  {% if current_user %}
    <div class="govuk-button-group gchqnet-page-header-actions__action">
      <a class="govuk-button" data-module="govuk-button" href="{% url 'quest:map' %}">
        View Map
      </a>
      <a class="govuk-button" data-module="govuk-button" href="{% url 'notifications:unread' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
        </svg>
        Notifications ({% notifications_unread %})
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block title %}
  {% if current_user %}
    My Profile
  {% else %}
    Player: {{ object.display_name }}
  {% endif %}
{% endblock %}

{% block content %}
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Current score
      </dt>
      <dd class="govuk-summary-list__value">
        {{ object.get_current_score }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Number found
      </dt>
      <dd class="govuk-summary-list__value">
        {{ object.get_capture_count }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag">{{ object.get_current_score | score_grade }}</strong>
      </dd>
    </div>
  </dl>
  <div class="govuk-tabs">
    <ul class="govuk-tabs__list">
      {% if current_user %}
        <li class="govuk-tabs__list-item {% if active_tab == 'finds' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:profile' %}">
            My Finds ({{ find_count }})
          </a>
        </li>
        <li class="govuk-tabs__list-item {% if active_tab == 'to_find' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:profile_to_find' %}">
            To Find ({{ to_find_count }})
          </a>
        </li>
        <li class="govuk-tabs__list-item {% if active_tab == 'achievements' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:profile_achievements' %}">
            My Achievements
          </a>
        </li>
        <li class="govuk-tabs__list-item {% if active_tab == 'activity' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:profile_activity' %}">
            My Recent Activity
          </a>
        </li>
      {% else %}
        <li class="govuk-tabs__list-item {% if active_tab == 'finds' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:player_detail' object.username %}">
            Finds
          </a>
        </li>
        <li class="govuk-tabs__list-item {% if active_tab == 'achievements' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:player_achievements' object.username %}">
            Achievements
          </a>
        </li>
        <li class="govuk-tabs__list-item {% if active_tab == 'activity' %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="{% url 'quest:player_activity' object.username %}">
            Recent Activity
          </a>
        </li>
      {% endif %}
    </ul>
    <div class="govuk-tabs__panel">
      {% block panel_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
