{% extends "pages/quest/player_detail_base.html" %}

{% load location_tags %}
{% load humanize %}

{% block panel_content %}
  <h2 class="govuk-heading-l">Finds</h2>
  {% if finds %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Difficulty</th>
          <th scope="col" class="govuk-table__header">Time since found</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for find, show_details in finds %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{% if show_details %}{{ find.location.display_name }}{% else %}???{% endif %}</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">{{ find.location.difficulty | difficulty_label }}</strong></td>
            <td class="govuk-table__cell">{{ find.created_at | naturaltime }}</td>
            <td class="govuk-table__cell"><a href="{% url 'quest:location_detail' find.location.id %}" class="govuk-link">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" %}
  {% else %}
    <p class="govuk-body">This player has not yet found anything.</p>
  {% endif %}
{% endblock %}
