{% extends "pages/quest/player_detail_base.html" %}

{% load location_tags %}
{% load humanize %}

{% block panel_content %}
  <h2 class="govuk-heading-l">{% if current_user %}My {% endif %}Recent Activity</h2>
  {% if events %}
    {% include "components/quest/recent-activity-table.html" with events=events hide_name_col="yes" %}
  {% else %}
    {% if current_user %}
      <p class="govuk-body">You have not yet done anything. Check out <a href="{% url 'quest:profile_to_find' %}">To Find</a> for hints on where to look.</p>
    {% else %}
      <p class="govuk-body">This player has not yet done anything.</p>
    {% endif %}
  {% endif %}
{% endblock %}
