{% load humanize location_tags %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Difficulty</th>
      <th scope="col" class="govuk-table__header">Time since awarded</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for achievement_event in achievement_events %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ achievement_event.display_name }}</td>
        <td class="govuk-table__cell">{% difficulty_tag achievement_event.difficulty %}</td>
        <td class="govuk-table__cell">{{ achievement_event.created_at | naturaltime }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>