{% load location_tags %}
<table class="govuk-table govuk-table--small-text-until-tablet">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Display Name</th>
      <th scope="col" class="govuk-table__header">Difficulty</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for ba in achievements %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ ba.display_name }}</th>
        <td class="govuk-table__cell">{% difficulty_tag ba.difficulty %}</td>
        <td class="govuk-table__cell">
          {% include "components/govuk/tag.html" with content=ba.award_type %}
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="{% url 'achievements:basic_achievements_detail' ba.id %}">View</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
