{% extends "layouts/base_app.html" %}
{% load location_tags static %}
{% load humanize %}

{% block title %}{{ object.display_name }}{% endblock %}

{% block header %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="gchqnet-page-header-actions__title">
        <h1 class="govuk-heading-xl">{{ object.display_name }}</h1>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <link rel="stylesheet" href="{% static 'map/map.css' %}">
      <script src="{% static 'map/map.js' %}"></script>
      <noscript>You need Javascript enabled to view this map.</noscript>
      <div id="map" data-zoom="15" data-lat="52.04161" data-long="-2.37749" data-location-geo-endpoint="/api/locations/my-finds/?group={{ object.id }}" style="min-height: 300px;"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    {% if user_found_all %}
      <p class="govuk-body">You found everything in this group and gained {{ object.difficulty }} bonus points.</p>
    {% else %}
      <p class="govuk-body">You have not found all locations in this group.</p>
    {% endif %}
  {% else %}
    <p class="govuk-body"><a href="{% url 'accounts:login' %}">Log in</a> to view more information about this group.</p>
  {% endif %}
  <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#info">
          Information
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#locations">
          Locations
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#activity">
          Recent Activity
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="info">
      <h2 class="govuk-heading-l">Information</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ object.display_name }}
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difficulty
          </dt>
          <dd class="govuk-summary-list__value">
            {% difficulty_tag object.difficulty %}
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location Count
          </dt>
          <dd class="govuk-summary-list__value">
            {{ location_count }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="locations">
      <h2 class="govuk-heading-l">Locations</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Difficulty</th>
            <th scope="col" class="govuk-table__header">Found</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for location in locations %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{% if location.id in user_found_locations %}{{ location.display_name }}{% else %}???{% endif %}</td>
              <td class="govuk-table__cell">{% difficulty_tag location.difficulty %}</td>
              <td class="govuk-table__cell">{% if location.id in user_found_locations %}Yes{% else %}No{% endif %}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="{% url 'quest:location_detail' location.id %}">View</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="activity">
      <h2 class="govuk-heading-l">Recent Activity</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Player</th>
            <th scope="col" class="govuk-table__header">Found at</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for recent_capture in recent_captures %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ recent_capture.created_by.display_name }}</td>
              <td class="govuk-table__cell">{{ recent_capture.created_at | naturaltime }}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="{% url 'quest:player_detail' recent_capture.created_by.username %}">View</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
