{% extends "layouts/base_app.html" %}
{% load crispy_forms_tags location_tags static %}

{% block title %}Deploy {{ object }}{% endblock %}

{% block action_buttons %}
  <a class="govuk-button govuk-button--secondary gchqnet-page-header-actions__action" data-module="govuk-button" href="{% url 'logistics:planned_edit' object.id %}">
    Edit
  </a>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'map/map.css' %}">
  <script src="{% static 'map/map.js' %}"></script>
  <div style="height: 400px; margin-bottom: 3em;">
    <noscript>You need Javascript enabled to view this map.</noscript>
    <div
      id="map"
      data-marker-form="true"
      data-marker-lat="id_lat"
      data-marker-long="id_long"
      data-location-geo-endpoint="{% url 'api:locations_all-geojson' %}"
      style="height: 400px;"
    ></div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Location Details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Display name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ object.display_name }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Internal name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ object.internal_name }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hint
          </dt>
          <dd class="govuk-summary-list__value">
            {{ object.hint }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difficulty
          </dt>
          <dd class="govuk-summary-list__value">
            {% difficulty_tag object.difficulty %}
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Confirm deployment</h2>
      <p class="govuk-body">Please check the location on the map above and then fill out the form below.</p>
      {% crispy form %}
    </div>
  </div>
{% endblock %}