{% extends "layouts/base_app.html" %}

{% block title %}Planned Locations{% endblock %}

{% block action_buttons %}
    <div class="govuk-button-group gchqnet-page-header-actions__action">
        <a class="govuk-button" data-module="govuk-button" href="{% url 'logistics:planned_create' %}">
            New Planned Location
        </a>
        <a class="govuk-button" data-module="govuk-button" href="{% url 'logistics:planned_map' %}">
            View Map
        </a>
    </div>

{% endblock %}

{% block content %}
    <p class="govuk-body">The following locations have been planned. God forbid you deploy them.</p>
    {% include "components/logistics/planned-location-search.html" %}
    {% include "components/logistics/planned-locations-table.html" with planned_locations=page_obj %}
    {% if page_obj %}
        {% include "components/govuk/pagination.html" with extra_classes="gchqnet-pagination--center" %}
    {% else %}
        <p class="govuk-body">There are no planned locations. Maybe we deployed them? Maybe we are useless?</p>
    {% endif %}
{% endblock %}
