{% extends "layouts/base_app.html" %}

{% block title %}Logistics Admin{% endblock %}

{% block content %}
  <p class="govuk-body">Welcome to the logistics admin panel, you annoying sod.</p>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="{% url 'admin:index' %}">Django Admin</a>
    </li>
    <li>
      <a class="govuk-link" href="{% url 'logistics:planned_list' %}">Planned Locations</a>
    </li>
    <li>
      <a class="govuk-link" href="{% url 'achievements:basic_achievements_list' %}">Basic Achievements</a>
    </li>
  </ul>
{% endblock %}
