{% extends "layouts/base_app.html" %}
{% load crispy_forms_tags %}

{% block title %}Login to GCHQ.NET{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Login using your password</h1>
      {% crispy form %}
    </div>
  </div>

  <h2 class="govuk-heading-m">Other ways to login</h2>
  <p class="govuk-body">If you have not set a password on your account, you can <a href="{% url 'accounts:login_badge' %}">login using your badge</a>.</p>
{% endblock %}