<aside class="gchqnet-homepage-aside__container" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Get Started
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a class="govuk-link" href="{% url 'content:play' %}">
          What is GCHQ.NET?
        </a>
      </li>
      <li>
        <a class="govuk-link" href="{% url 'content:platforms' %}">
          SSH / Telnet / Dial-up Access
        </a>
      </li>
      <li>
        <a class="govuk-link" href="{% url 'quest:profile_map' %}">
          View Map
        </a>
      </li>
    </ul>
  </nav>
</aside>