<table class="govuk-table govuk-table--small-text-until-tablet">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for leaderboard in leaderboards %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ leaderboard.display_name }}</th>
        <td class="govuk-table__cell"><a class="govuk-link" href="{% url 'quest:leaderboard_detail' leaderboard.id %}">View</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>