{% if breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% for url, name in breadcrumbs %}
                <li class="govuk-breadcrumbs__list-item">
                    {% if url %}
                        <a class="govuk-breadcrumbs__link" href="{{ url }}">{{ name }}</a>
                    {% else %}
                        {{ name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}