{% load static %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="{% url 'quest:home' %}" class="govuk-header__link govuk-header__link--homepage">
        <img src="{% static 'img/logo-white-notext.png' %}" class="gchqnet-header__logo" alt="GCHQ.NET Logo" />
        <span class="gchqnet-header__logotext">GCHQ.NET</span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="{% url 'quest:home' %}" class="govuk-header__link govuk-header__service-name">
        Great Camp Hexpansion Quest
      </a>
      <nav aria-label="Menu" class="govuk-header__navigation">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul id="navigation" class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="{% url 'quest:home' %}">
              Live Scores
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              How to Play
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{% url 'quest:my_finds' %}">
              My Finds
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{% url 'quest:leaderboard_list' %}">
              My Leaderboards
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#logout"  onclick="document.getElementById('logoutForm').submit(); return false;">
                Logout
              </a>
            </li>
          {% endif %}
          {% if user.is_superuser %}
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'admin:index' %}">
                Admin
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
<form id="logoutForm" method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
</form>