{% load notifications_tags %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
        </strong>
        <span class="govuk-phase-banner__text gchqnet-phase-banner__text">
            {% if request.user.is_authenticated %}
                <span class="gchqnet-phase-banner__login-status">
                    <span>Hi, <strong>{{ request.user.display_name }}</strong></span>
                    <span>|</span>
                    <a class="govuk-link" href="{% url 'notifications:unread' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                        </svg>
                        <span class="govuk-visually-hidden">Notifications</span>
                        ({% notifications_unread %})</a>
                    <span>|</span>
                    <span><strong>Score:</strong>&nbsp;{{ request.user.get_current_score }}</span>
                    <span>|</span>
                    <a class="govuk-link" href="#logout" onclick="document.getElementById('logoutForm').submit(); return false;">
                        Logout
                    </a>
                </span>
            {% else %}
                <span class="gchqnet-phase-banner__service-info">This is a new service – your <a class="govuk-link" href="https://youtu.be/dQw4w9WgXcQ">feedback</a> will help us to improve it.</span>
                {% if PUBLIC_MODE %}
                    <span class="gchqnet-phase-banner__login-status">
                        <a class="govuk-link" href="{% url 'accounts:login' %}">
                            Login
                        </a>
                    </span>
                {% endif %}
            {% endif %}
        </span>
    </p>
</div>
<form id="logoutForm" method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
</form>